.dropdown-perso :hover{
    background-color: #333 !important;
    color:white !important;
}
.navbar{
    border-radius:0px !important;
}
form div{
  margin-bottom: 5px;
}
.accueil{
    font-size: 25px;
    text-align: justify;
}
.accueil h1{
    font-size: 50px;
    font-weight: bold;
}
.accueil h4{
    font-size: 32px;
    font-style: italic;
}
h1, h4{
    text-align: center;
}
h4{
    margin-bottom: 2%;
}